[2020-09-24 04:52] rahulsain3000 opened #1 "runtime error"
hey i have error on day0.cpp and day1.cpp please take a min and help me to solve the code

please read contributing.md for more details.

[2020-09-24 06:44] abraham-john-paul commented on #1
Hi , can i help with this?

[2020-09-24 07:20] rahulsain3000 opened #2 "complete the 30-days code solution"
anyone interested can help by completing solution of this series or providing 30day code solution in any other language(Java, C, Python is preferred)

[2020-09-24 07:21] rahulsain3000 commented on #1
i need help in this: https://github.com/rahulsain3000/Hackerrank_30daysOFcode/issues/2

Also, you could help me in this repo: https://github.com/rahulsain3000/hello-world/issues/2

[2020-09-24 20:31] beingaryan commented on #2
I am interested in doing so. Is the issue resolved for day0.cpp and day1.cpp? Can you assign this task to me?

[2020-09-24 21:04] alvinma commented on #2
Hi! I can help with the C, C++, and Python implementation. Is there a way to see the problem from HackerRank early, or do I need to wait each day for the day's problem to be unlocked?

[2020-09-24 21:51] BhaskarJoshi-01 commented on #2
Hey! Can I help ??

[2020-09-25 04:39] rahulsain3000 commented on #2
please try to complete this series in c++ or with any other language(java/python) once completed i will merge the pr

[2020-09-25 07:19] Exter-dg commented on #2
I would like to work on this (C++). Can you assign this to me too?

[2020-09-25 07:36] maayeesha commented on #2
I would like to contribute to the repo!

[2020-09-25 08:26] rahulsain3000 commented on #2
Please note that , It will count as a valid PR if you make a PR in October not now

It must have a valid code in the language that is not yet in this repo.

Hope I clear all your doubts.

[2020-09-25 11:47] rasacharjee commented on #2
I also want to work on this(c++) , can you please assign this to me also

[2020-09-25 13:26] Pulkitmahajan01 commented on #2
I would also like to work on the same in c++. Could you please assign this to me.

[2020-09-27 12:37] shivangdubey commented on #1
I would like to this error.

[2020-09-27 12:37] rahulsain3000 opened #5 "compiler error"
hey i have error on day4.cpp and day5.cpp please take a min and help me to solve the code

please read contributing.md for more details.

[2020-09-27 12:38] rahulsain3000 opened #6 "help in code"
hey i have error on day8.cpp and day9.cpp please take a min and help me to solve the code

please read contributing.md for more details.

[2020-09-27 12:39] rahulsain3000 opened #7 "error in code"
hey i have error on day12.cpp and day13.cpp please take a min and help me to solve the code

please read contributing.md for more details.

[2020-09-27 12:40] shivangdubey commented on #7
I would like to fix this error.

[2020-09-27 12:40] shivangdubey commented on #6
I would like to this error.

[2020-09-27 12:41] shivangdubey commented on #5
I would like to this error.

[2020-09-27 13:03] #1 closed

[2020-09-27 13:08] rahulsain3000 opened #9 "void problem in code"
please update the day2.cpp and day3.cpp file with error resolved

[2020-09-27 13:20] shivangdubey commented on #9
I would like to fix this. Please assign

[2020-09-28 06:31] h4rz commented on #2
Hey @rahulsain3000, I would love to work on Python3 solutions. Please assign. Thanks!

[2020-09-28 06:38] h4rz commented on #2
One suggestion - It would be better to create a language-specific issue and assign other contributors who are interested in it so, that each dev can know who else is working and they can collab together if they want to.

[2020-09-28 09:16] aleena-james commented on #2
I would like to contribute to this repo in C++. Could you please assign this to me.

[2020-09-30 14:36] muskanapp commented on #2
Hey @rahulsain3000, I would love to contribute to this repo. I would love to work on Python3 and C++ solutions. Please assign. Thanks!

[2020-09-30 15:12] rahulsain3000 commented on #2
@muskanapp you can do python 3 solutions, c++ solutions has been already assigned.

[2020-09-30 15:14] h4rz commented on #2
@rahulsain3000, I'm already working on python3 and I'm already assigned.

[2020-09-30 15:16] rahulsain3000 commented on #2
ok @h4rz I didn't see sorry @muskanapp  try in another language that has been not assigned yet.

[2020-09-30 15:31] muskanapp commented on #2
@h4rz are you gonna contribute to all the Python 3 solutions? I saw multiple people assigned to the same language, that's why I asked.

[2020-09-30 16:11] h4rz commented on #2
@muskanapp, Hackerrank's `30 days of code` makes only one problem available to solve per day and I'm already on day 3. So if we join then it will create a merge conflict or there will be duplicate solutions in the repo.

[2020-09-30 16:28] muskanapp commented on #2
@rahulsain3000 Can I contribute to the repo in C Or Java?

[2020-10-01 01:38] #9 closed

[2020-10-01 01:39] #5 closed

[2020-10-01 01:43] rahulsain3000 opened #16 "day 14 error"

[2020-10-01 01:44] rahulsain3000 opened #17 "day 15 error"

[2020-10-01 02:04] Sambhu98 commented on #16
can u describe the error, I would like to work on this

[2020-10-01 02:05] blackfly19 commented on #17
Can you assign me this issue?

[2020-10-01 02:54] shivangdubey commented on #16
Would like to work on this, please assign.

[2020-10-01 02:54] shivangdubey commented on #17
Would like to work on this, please assign.

[2020-10-01 02:56] #7 closed

[2020-10-01 03:04] #16 closed

[2020-10-01 03:07] #17 closed

[2020-10-01 03:38] rahulsain3000 commented on #2
Please note that to reduce the clashes regarding same people working on same language. I am creating language specific issue as suggested by @h4rz and closing this one.

I will assign one person to work on 1 language and it will be on basis of First Come First Serve.

[2020-10-01 03:38] #2 closed

[2020-10-01 03:47] rahulsain3000 commented on #6
it has been resolved

[2020-10-01 03:47] #6 closed

[2020-10-01 03:49] rahulsain3000 opened #22 "complete this series in c++"
if you want to collaborate with other you can discuss there.

please note make a folder and name it "Hackerrank_30daysOFcode_in_C++"

note that I have already assigned this issue to some people in #2 so they are preferred first as they are already working on this issue

[2020-10-01 03:51] rahulsain3000 opened #23 "complete this series in c"
if you want to collaborate with other you can discuss there.

please note make a folder and name it "Hackerrank_30daysOFcode_in_C"

note that I have already assigned this issue to some people in #2 so they are preferred first as they are already working on this issue

[2020-10-01 03:52] rahulsain3000 opened #24 "complete this series in java"
if you want to collaborate with other you can discuss there.

please note make a folder and name it "Hackerrank_30daysOFcode_in_Java"

note that I have already assigned this issue to some people in #2 so they are preferred first as they are already working on this issue

[2020-10-01 03:54] rahulsain3000 opened #25 "complete this series in Python"
if you want to collaborate with other you can discuss there.

please note make a folder and name it "Hackerrank_30daysOFcode_in_Python"

note that I have already assigned this issue to some people in #2 so they are preferred first as they were already working on this issue

[2020-10-01 03:55] h4rz commented on #25
@rahulsain3000, assign me.

[2020-10-01 03:56] rahulsain3000 opened #26 "complete this series in any other langauge that is not mentioned in issue section"
if you want to collaborate with other you can discuss there.

please note make a folder and name it "Hackerrank_30daysOFcode_in_your_language"

note that I have already assigned this issue to some people in #2 so they are preferred first as they are already working on this issue

[2020-10-01 04:13] Aastha26-lab commented on #24
hey , @rahulsain3000  Can I contribute to this issue . Please?

[2020-10-01 04:21] shikharmaxx commented on #2
Hello @rahulsain3000, I would like to contribute in JavaScript. Could you please assign me that ?

[2020-10-01 04:25] rahulsain3000 commented on #2
ok @shikharmaxx  I am creating a issue for JS I will assign you there

[2020-10-01 04:39] hnishal commented on #22
can I get to work on this issue?

[2020-10-01 04:42] rahulsain3000 commented on #22
@hnishal hey can you wait for 24 hours as I waiting for the PR from assigned person that is mentioned in #2

If no one send a PR in C++ then I will assign you

[2020-10-01 04:44] muskanapp commented on #24
@rahulsain3000 Can you assign this to me?

[2020-10-01 04:46] hnishal commented on #22
@rahulsain3000 any other issue i can work upon till then?

[2020-10-01 04:47] rahulsain3000 commented on #24
ok @muskanapp as no one is assigned to JAVA  from #2 , I am assigning you.

Please try to complete this series(there is no time bound)

[2020-10-01 04:51] rahulsain3000 commented on #22
You could improve readme file as a part of documentation. Just send a PR.

[2020-10-01 05:22] Harshal0506 commented on #23
I would love to work on it it will be a great learning experience for me

I will try my best to make it beginner friendly and sweet  👍🏻

Cheers!!
Thanks for this wonderful appourtunity in advance
jai shree krishna

[2020-10-01 05:27] rahulsain3000 commented on #23
Please try to complete this series (no time bound)

[2020-10-01 05:31] aleena-james commented on #22
I will work on this..

[2020-10-01 05:35] shibrahmachari commented on #22
hi, is there anything i can contribute too?

[2020-10-01 05:43] rahulsain3000 commented on #22
@shibrahmachari

[2020-10-01 05:54] rahulsain3000 commented on #22
@aleena-james I have assigned you this issue please try to complete this series(no time bound)

[2020-10-01 06:10] Ayomal98 commented on #24
Made the relevant java files from day 0 to day 5

[2020-10-01 06:16] h4rz opened #34 "Improve readability in README"
I'm thinking to add a tabular format in readme.md where each problem name will be present with their link to Hackerrank's website, their status whether it is implemented or not in a particular language.

Eg.
| Day   	| Problem Statement  	| Python   	| C  	| C++  	| Java  	| Javascript  	|
|---	|---	|---	|---	|---	|---	|---	|
|  00 	|  [Hello, World.](https://www.hackerrank.com/challenges/30-hello

[2020-10-01 06:18] rahulsain3000 commented on #34
Yeah, but how should we update this readme file regularly after each PR  merged?

[2020-10-01 06:19] hnishal commented on #22
@rahulsain3000 what changes or addition you want in the readme.md?

[2020-10-01 06:20] shibrahmachari commented on #22
@rahulsain3000  could you please assign me then and apart from documentation can I help with something else?

[2020-10-01 06:21] h4rz commented on #34
I would add all the program name, each developer before raising a PR, has to put a :white_check_mark: in the language column of the program, he/she has implemented.

[2020-10-01 06:23] rahulsain3000 commented on #34
Okay nice idea

[2020-10-01 06:26] siddharthrajaraja commented on #24
@rahulsain3000  I have some in Java may I add them ?

[2020-10-01 06:37] rahulsain3000 commented on #24
hey @Ayomal98 @siddharthrajaraja maybe you can work together with @muskanapp for completing these series

[2020-10-01 06:41] rahulsain3000 commented on #22
@hnishal any further improvement you want to add

[2020-10-01 06:42] siddharthrajaraja commented on #24
@muskanapp  I have some solution may I ?

[2020-10-01 06:44] Harshit564 commented on #26
I want to collaborate. Please assign the issue @rahulsain3000

[2020-10-01 06:49] siddharthrajaraja commented on #24
@rahulsain3000  @muskanapp  check #37

[2020-10-01 06:53] sherwin2000 commented on #22
please give me this issue

[2020-10-01 06:55] sherwin2000 commented on #25
please give me this issue

[2020-10-01 07:14] muskanapp commented on #24
@siddharthrajaraja @Ayomal98 are you guys gonna add solutions for any other days as well? Otherwise, I am working on the solutions, I will add a few shortly.

[2020-10-01 07:19] siddharthrajaraja commented on #24
@muskanapp  I have day 27 as well

[2020-10-01 07:27] muskanapp commented on #24
@siddharthrajaraja Okay, then I will work on solutions from days 5-10.

[2020-10-01 07:28] shalyavarnika commented on #25
assign me for python.

[2020-10-01 07:29] hnishal commented on #34
@rahulsain3000 @h4rz can anyone of you create an image directory and add some screenshots or some reference images(related to 30days of code/hacckerank) in it.

[2020-10-01 07:41] Ayomal98 commented on #24
I have add from day 0 to day 5

[2020-10-01 07:45] kshitij9896 commented on #25
Please Assign me for python

[2020-10-01 07:53] siddharthrajaraja commented on #23
@Harshal0506  May I assist you?

[2020-10-01 08:01] siddharthrajaraja commented on #24
@Ayomal98  fine by me
@rahulsain3000  please mere #37  asap so that I may add more PRs

[2020-10-01 08:47] rahulsain3000 commented on #24
Ok @siddharthrajaraja

[2020-10-01 08:50] hnishal commented on #34
@rahulsain3000 after merging this pull request assign me this issue, i'll a few things

[2020-10-01 09:01] raj1238 commented on #22
I have added solutions to the last three days and opened up PRs. please do let me know if I can help in any other way as well.

[2020-10-01 09:04] siddharthrajaraja commented on #24
@rahulsain3000  I made a new PR #60

[2020-10-01 09:04] rahulsain3000 commented on #22
Only day18.cpp is required to complete this series. @aleena-james are you gonna do it?

[2020-10-01 09:12] rahulsain3000 commented on #25
please check that till day7 has been merged

[2020-10-01 09:12] rahulsain3000 commented on #25
@sherwin2000 @kshitij9896 @shalyavarnika  please collaborate with @h4rz as he is already assigned

[2020-10-01 09:13] sawwwrabhp commented on #22
Hey, I'm interested. Can i work on it? Or any other cpp solution?

[2020-10-01 09:14] rahulsain3000 commented on #24
@Ayomal98 please add your code to the folder made by @siddharthrajaraja  and in your pr please delete your previous folder because it isn't opening

[2020-10-01 09:16] amishaagarwal1998 commented on #22
Hi I am interested. Can I work on it?

[2020-10-01 09:17] rahulsain3000 commented on #22
please add day18 solution in C++ folder and then I will close this issue.

Just make a PR

[2020-10-01 09:22] 23krishna commented on #22
Hello Can I get to work on this issue?

[2020-10-01 09:24] rahulsain3000 commented on #22
@23krishna

[2020-10-01 09:27] sawwwrabhp commented on #22
hey, i did that. made a pr

[2020-10-01 09:27] rahulsain3000 commented on #22
@everyone this series is completed but check other issues

[2020-10-01 09:27] #22 closed

[2020-10-01 09:29] h4rz commented on #25
@sherwin2000, @kshitij9896, @shalyavarnika, if you guys are ahead of day7 then you could contribute else it would just cause conflicts or duplicate/multiple solutions of the same problem. Please discuss in the comments on which solution you guys will be working so that no other dev uploads the same solution.

[2020-10-01 09:35] rahulsain3000 commented on #34
please update readme file with recent merges @hnishal

[2020-10-01 09:38] amishaagarwal1998 commented on #23
I am also willing to help

[2020-10-01 09:40] Ayomal98 commented on #24
Sure I will

[2020-10-01 09:40] hnishal commented on #34
@rahulsain3000 any feedback?

[2020-10-01 09:43] rahulsain3000 commented on #26
@Harshit564 in which language are you willing to complete this series?

[2020-10-01 09:46] Harshit564 commented on #26
C#

[2020-10-01 09:46] rahulsain3000 commented on #34
@hnishal great work! It is easy to read for beginner coming at Github.

Please add a line asking developers to mark as completed in readme file.

[2020-10-01 09:47] rahulsain3000 commented on #26
OK @Harshal0506 assigned.

[2020-10-01 09:48] sdoss93212 commented on #34
Anything I can to the readme??

[2020-10-01 09:48] rahulsain3000 commented on #23
Please @siddharthrajaraja @amishaagarwal1998 collaborate with @Harshal0506

[2020-10-01 09:49] rahulsain3000 commented on #34
@sdoss93212 You could mark (✅ ) to the files that are successfully merge till now.

[2020-10-01 09:50] sdoss93212 commented on #34
Ok I'm on it!

[2020-10-01 10:12] Jainchhavi16 commented on #23
Hi, you have mentioned the language as C but they are contributing in C++. Will there be a separate folder for solutions in C too?
If so, can I work on it?

[2020-10-01 10:16] zackmolt commented on #26
I want to collaborate

[2020-10-01 10:34] Bharathwaj3003 commented on #23
i also want to work in C. I see that they all are doing in C++ so myself and @Jainchhavi16 will work in C?

[2020-10-01 10:36] Bharathwaj3003 commented on #26
@rahulsain3000  I see that all are working in python, C# and C++. Can I work in C and other languages I want?

[2020-10-01 10:45] gandalf0151 commented on #24
@rahulsain3000 I want to collaborate with Java
I will be adding pr for days which aren't yet in 30 days of code Java
Please assign that issue to me

[2020-10-01 10:48] Bharathwaj3003 commented on #23
hi @rahulsain3000 can myself and @Jainchhavi16 work for the C part of this repository?

[2020-10-01 10:49] rahulsain3000 commented on #23
@Jainchhavi16 there is already a c folder in the code and has day0 solution in it as .md file

@Bharathwaj3003

[2020-10-01 10:50] rahulsain3000 commented on #26
@zackmolt sure i can assign you for Kotlin please make a separate folder for that

[2020-10-01 10:50] rahulsain3000 commented on #24
@gandalf0151 please discuss here with other developers

[2020-10-01 10:55] gandalf0151 commented on #24
Thanks @rahulsain3000
@muskanapp I've solutions for Day 17 & beyond as of now
Is anyone else assigned for those

[2020-10-01 10:56] GauravPoosarla commented on #26
Can i Work on C or Python any of the two is fine for me?

[2020-10-01 10:58] muskanapp commented on #24
@gandalf0151 Nope, I am working on days 6-10.

[2020-10-01 10:58] rahulsain3000 commented on #26
@GauravPoosarla Please discuss with other assignees for that particular language

[2020-10-01 10:59] rahulsain3000 commented on #24
@gandalf0151 add to the other folder which is opening

[2020-10-01 10:59] gandalf0151 commented on #24
@muskanapp Then, should I do it for Day 11 till 20

[2020-10-01 11:01] GauravPoosarla commented on #23
Please assign me for C.

[2020-10-01 11:01] rahulsain3000 commented on #24
Please note developer's should also update readme file and put a tick as shown in readme file for the files that are successfully merged with your PR request

[2020-10-01 11:03] muskanapp commented on #24
@

okay

[2020-10-01 11:05] Bharathwaj3003 commented on #26
@rahulsain3000 I am already working in C. can i work with BASH and rust too?

[2020-10-01 11:05] Bharathwaj3003 commented on #26
@rahulsain3000 Can you create a issue for BASH and rust for me?

[2020-10-01 11:07] rahulsain3000 commented on #26
@Bharathwaj3003 make your contribution side by side in other language(BASH and rust) in your local repo and send the PR when once your contribution on C language is completed

[2020-10-01 11:09] rahulsain3000 commented on #23
@GauravPoosarla please discuss here with other developers

[2020-10-01 11:17] Bharathwaj3003 commented on #26
@rahulsain3000 is it necessary that i should write in .md files. Because i really dont know how to write in .md

[2020-10-01 11:20] rahulsain3000 commented on #26
@Bharathwaj3003  can write in .c and @Harshal0506 can convert it in .md if not a problem

[2020-10-01 11:21] rahulkranjan commented on #25
Can I work in python on this?

[2020-10-01 11:25] Harshal0506 commented on #26
yes i will change it to md file  i have no issue @Bharathwaj3003  can we connect on linkedin ?
[ linkedin profile ]( https://www.linkedin.com/in/harshal-rajesh-jain/ )

[2020-10-01 11:26] jainaayush01 commented on #23
Hey please let me know if i can help on some issues.

[2020-10-01 11:27] jainaayush01 commented on #23
I am not able to see what task has already been assigned. So please guide me.

[2020-10-01 11:31] rahulsain3000 commented on #23
@jainaayush01 ask others on what day they are working on and ask for a day solution that you could help them with

[2020-10-01 12:07] muskanapp commented on #24
@siddharthrajaraja If you are adding solutions, let others know. Otherwise, there would be conflicts.

[2020-10-01 12:07] GauravPoosarla commented on #23
Can you just tell me on what days i can work on?

[2020-10-01 12:08] siddharthrajaraja commented on #24
How to do that?

On Thu, Oct 1, 2020 at 5:37 PM Muskan Jain <notifications@github.com> wrote:

[2020-10-01 12:09] siddharthrajaraja commented on #24
@everyone , I added a lot poblems in several languages please check the folder and make a PR accordingly .
@rahulsain3000  can you please update the readme file?

[2020-10-01 12:11] muskanapp commented on #24
A

Are you gonna add any more solutions? Or can I add some others?

[2020-10-01 12:13] siddharthrajaraja commented on #24
@muskanapp  @everyone I added 23 and 24 in java

[2020-10-01 12:14] siddharthrajaraja commented on #24
As I am completing adding them

[2020-10-01 12:14] rahulsain3000 commented on #24
sure i will update readme file soon

[2020-10-01 12:15] siddharthrajaraja commented on #24
@rahulsain3000  merge the latest

[2020-10-01 12:21] rahulsain3000 commented on #24
@everyone only day 26 and day 29 left after that I close this issue

[2020-10-01 12:26] gandalf0151 commented on #24
@rahulsain3000 Day 20 added
Please take a look

[2020-10-01 12:26] gandalf0151 commented on #24
PR #103

[2020-10-01 12:35] muskanapp commented on #24
@rahulsain3000 Day 29 added
PR #104

[2020-10-01 12:36] AmosAidoo commented on #26
So in case I want to contribute in a new language, I'll just have to make a pull request?

[2020-10-01 12:37] rahulsain3000 commented on #26
Yes @AmosAidoo

[2020-10-01 12:39] rahulsain3000 commented on #24
Thank you everyone for participating.

Please check other issues if you're willing to contribute

[2020-10-01 12:39] #24 closed

[2020-10-01 12:39] jainaayush01 commented on #23
Thanks for helping me out @rahulsain3000 .
Hey @Harshal0506 Can i help you with solutions for Day 20 and 22.

[2020-10-01 12:41] AmosAidoo commented on #26
Great. Thank you @rahulsain3000

[2020-10-01 12:54] Harshal0506 commented on #23
hey @jainaayush01  here is my code  for [Day 20](http://pastie.org/p/50Ezr2BbSnhjVMPP61NPu6)
i need to add comments and some resources
### have a look

[2020-10-01 13:00] amishaagarwal1998 commented on #23
Hey @Harshal0506  I have created a PR for ques 3 and 7. Please review :-)

[2020-10-01 13:04] GauravPoosarla commented on #23
I am doing from day 10 to day 14.

[2020-10-01 13:05] rahulsain3000 commented on #34
i am updated readme file as per latest merge to avoid conflict. Thanks @h4rz for contributing and suggesting me this idea.

[2020-10-01 13:05] #34 closed

[2020-10-01 13:07] rahulsain3000 commented on #25
@rahulkranjan Please check readme file and start working on these code with other here

[2020-10-01 13:08] gandalf0151 commented on #23
Sent PR #114 for Day 20

[2020-10-01 13:09] jainaayush01 commented on #23
Hey @Harshal0506 ,
I have completed the Day 20 22 and 24. I will add the comments in the respective files.
Is it ok.

[2020-10-01 13:13] rahulsain3000 opened #117 "updation of links in readme"
any improvement for readme file is most welcome here

[2020-10-01 13:14] rahulsain3000 commented on #34
This issue is shifted here #117

[2020-10-01 13:16] jainaayush01 commented on #23
since for day 20 PR has been merged i am making PR for the 22 and 24.
Thanks

[2020-10-01 13:32] vasavraj commented on #26
I want to contribute in whatever language you need @rahulsain3000

[2020-10-01 13:37] rahulsain3000 commented on #26
@vasavraj complete JavaScript

[2020-10-01 13:43] Himith commented on #23
Please assign some questions to  me too .

[2020-10-01 13:44] Code-Recursion commented on #117
I would love to improve the readability of the README file :) , can i go ahead?

[2020-10-01 13:45] vasavraj commented on #26
@rahulsain3000 I will try to contribute asap.

[2020-10-01 13:45] amishaagarwal1998 commented on #23
I'll add ques 6,10.

[2020-10-01 13:46] Code-Recursion commented on #23
I would be glad to complete the full 30daysofcode of hackerrank.

[2020-10-01 15:46] gandalf0151 commented on #23
Day 26 PR #148

[2020-10-01 15:51] AMorr1 commented on #26
@rahulsain3000 i will try to contribute asap in C++

[2020-10-01 15:51] gandalf0151 commented on #23
Day 27 can't be done in C

[2020-10-01 16:19] ViAsmit commented on #25
I will be working for Day 27 .

[2020-10-01 16:50] AmosAidoo commented on #26
@AMorr1 @Suhani028 I think if someone is already working on a language, you will have to arrange with the person so that you can help.

[2020-10-01 17:58] priya1011 commented on #25
I will be working on day 14 in python. Assign the issue to me too.

[2020-10-01 20:55] dalalvarun commented on #117
I would like to add some badges and also make some format and grammatical corrections in readme.md

[2020-10-02 03:01] anurag-bhatt commented on #26
@rahulsain3000  i can contribute in Java

[2020-10-02 03:19] esheetaparulekar commented on #26
Can I try to contribute in Java @rahulsain3000 ?

[2020-10-02 03:35] rahulsain3000 commented on #23
ok @gandalf0151

[2020-10-02 04:02] rahulsain3000 commented on #26
@AMorr1 Hey buddy, note that solutions for Java and C++ are up to date. Please try to collaborate with other developers for other language.

[2020-10-02 04:42] rahulsain3000 commented on #117
ok @dalalvarun go ahead

[2020-10-02 04:45] rahulsain3000 commented on #25
Note @everyone that only day 17 and day 21 code are left to be merged. After that I will close this issue

[2020-10-02 05:01] h4rz commented on #25
@rahulsain3000, I will work on day21

[2020-10-02 05:11] rahulsain3000 commented on #25
Ok @h4rz

[2020-10-02 05:16] anamkhxn opened #181 "Day 22 in JavaScript"
Pl. assign this issue to me.

[2020-10-02 05:21] rahulsain3000 commented on #181
Make a PR about it and close this issue after your PR has been merged.

[2020-10-02 05:47] #181 closed

[2020-10-02 06:30] h4rz commented on #25
@rahulsain3000, I just checked that day21 is invalid for python as python is a dynamic language. In python, we use `list` as an array and the `list` can take items of any data-type/object. Even Hackerrank only allows the solution to be in C++, java, and swift.

We can do 2 things, either mark the question as invalid for python or else I could create a method `printArray(list)` which takes a list a

[2020-10-02 06:33] rahulsain3000 commented on #25
Ok @h4rz mark Day 21.py and Day27.c as invalid

[2020-10-02 06:33] #25 closed

[2020-10-02 06:33] Anmol55555 commented on #23
Please assign me this task.

[2020-10-02 07:32] Harshal0506 commented on #23
what is assigned to @Anmol55555 ?

[2020-10-02 07:35] gandalf0151 commented on #23
All of the programs which are left in 30 days of code, can't be implemented
in C
So, it's better to put a cross mark on those

On Fri, 2 Oct 2020, 1:02 pm Harshaljain, <notifications@github.com> wrote:

[2020-10-02 07:40] Anmol55555 commented on #23
Can all this code can be written in c++?

[2020-10-02 07:47] gandalf0151 commented on #23
Separate folder is available for C++
already completed

[2020-10-02 07:52] Anmol55555 commented on #23
ok

[2020-10-02 08:26] rahulsain3000 commented on #23
Thanks @gandalf0151 for the info. So may I close this issue?

[2020-10-02 08:57] gandalf0151 commented on #23
yes all of the C code is completed
thanks for this opportunity to collaborate 😊

[2020-10-02 09:01] #23 closed

[2020-10-02 09:02] rahulsain3000 commented on #23
Thanks @everyone for contributing in this repo.

[2020-10-02 09:05] rahulsain3000 opened #196 "complete this series in Javascript"
please complete remaining code in JS

[2020-10-02 09:06] rahulsain3000 opened #197 "complete this series in C#"
please complete remaining code in C#

[2020-10-02 09:07] rahulsain3000 opened #198 "complete this series in Go"
please complete remaining code in Go

[2020-10-02 09:09] susanka068 commented on #198
I'd like to work on this ! please assign me this issue @rahulsain3000

[2020-10-02 09:20] amishaagarwal1998 commented on #117
I would like to help too!

[2020-10-02 09:29] Harshal0506 commented on #23
Thanks  @rahulsain3000 Bhaiya for such a great opportunity 👍🏻

[2020-10-02 10:08] codeR49 commented on #196
i want to contribute

[2020-10-02 10:10] amishaagarwal1998 commented on #117
Thank you! Will update asap

[2020-10-02 10:48] sunnysetia93 opened #201 "Testing for Javascript Solutions"
Hi
I would like to add test cases for existing JS solutions.

_1. Will be adding a test folder in the 30daysOFcode_JavaScript.
2. Separate test case file for each solution._

Please assign this issue to me. I'll pick this up.

Thanks

[2020-10-02 11:34] amishaagarwal1998 commented on #117
Added C# column in Read me along with ticks on completed codes. Please review.

[2020-10-02 12:43] rahulsain3000 commented on #196
check readme file you will get an idea

[2020-10-02 12:45] rahulsain3000 commented on #201
@sunnysetia93, can you explain how test cases will help the people? Is it already there in their site

[2020-10-02 12:50] sunnysetia93 commented on #201
Though test cases are there on hacker-rank, they are not visible.but adding a custom test cases will promote overall software development.
Also, since 30 days of code promotes learning a new language by solving different problems, having test cases will also teach the user how to create a test case and test the solution thoroughly which hacker-rank doesn't provide

[2020-10-02 12:52] sunnysetia93 commented on #201
Though test cases are there on hacker-rank, they are not visible. but adding a custom test cases will promote overall software development (from development to testing).
Also, since 30 days of code promotes learning a new language by solving different problems, having test cases will also teach the user how to create a test case and test the solution thoroughly which hacker-rank doesn't give visib

[2020-10-02 12:53] sunnysetia93 commented on #201
In the readme, a column named testing can be added to provide visibility.

[2020-10-02 12:55] rahulsain3000 commented on #196
please complete day21 and day27

[2020-10-02 12:59] rahulsain3000 commented on #201
@sunnysetia93 , I think there is no need to update readme regarding test cases.
Regarding your test case idea, go ahead and make sure that you send only 1 PR that has all 30 day test case in it.

[2020-10-02 13:07] sunnysetia93 commented on #201
Each test file will contain 2 to 3 test cases and there are 30 files.
It will take some time, So for now, I'll create a PR for the first 5 problems.

You can review it, accept the PR and there on I can continue with the rest.
Works?

[2020-10-02 13:12] rahulsain3000 commented on #201
@sunnysetia93 I am assuming that you're participating in Hacktoberfest and you need 4 valid PR's.
So, complete 30 files in 4-5 PR if that's fine.

[2020-10-02 13:17] sunnysetia93 commented on #201
Sure. I'll complete all the 30.

[2020-10-02 13:20] gandalf0151 commented on #201
This is a good one
Are you writing tests or just the test cases @sunnysetia93

[2020-10-02 13:32] sunnysetia93 commented on #201
Thanks, @gandalf0151
I'll be writing test cases using a Jest.

[2020-10-02 13:35] gandalf0151 commented on #201
oh nice
I don't know Jest
Heard about it earlier
Your code will definitely help me in getting started as finding tests for these kind of small programs won't be easy
Thanks

[2020-10-02 13:35] gandalf0151 commented on #201
@rahulsain3000 Please merge those PRs as those will be a valuable addition to your profile too

[2020-10-02 13:39] rahulsain3000 commented on #201
@gandalf0151 I am ready to merge his contribution in this repo.

[2020-10-02 13:42] rahulsain3000 commented on #117
@amishaagarwal1998 If you're countering issue in resolving your PR you can ask here.
We are ready to help each other

[2020-10-02 13:51] amishaagarwal1998 commented on #117
Yes actually in the read me file there was an issue of readability.
![image](https://user-images.githubusercontent.com/34367385/94930571-4022a900-04e4-11eb-9a88-650831e63c5e.png)
I was making it visually better for the contricutor
![image](https://user-images.githubusercontent.com/34367385/94930680-65171c00-04e4-11eb-93f7-35c302c44f93.png)
This is the merge conflict as per me. Am I wrong here? Ple

[2020-10-02 13:54] rahulsain3000 commented on #117
The conflict occurred because I recently made a change in readme file and that is not updated in your local repo.
Copy readme file from this repo and make changes accordingly in your repo then send a PR

[2020-10-02 13:59] amishaagarwal1998 commented on #117
Okay

[2020-10-02 14:00] 0tist commented on #26
Hey @rahulsain3000, I would like to complete the series in Swift

[2020-10-02 14:02] karansharma007 commented on #26
hey @rahulsain3000 , I would like to complete it in typescript

[2020-10-02 14:03] rahulsain3000 commented on #26
@0tist @karansharma007 Sure, but try to complete the series in just 4 5 PR and make required changes in readme file

[2020-10-02 14:06] 0tist commented on #26
sure thing, a quick question, would you require to convert the python scripts to notebook by any chance?

[2020-10-02 14:09] rahulsain3000 commented on #26
@0tist Is notebook another language, can you explain in more detail about notebook and how will it help this repo.

[2020-10-02 14:19] 0tist commented on #26
Thanks for your prompt response, to be precise, I was talking about converting python scripts to python notebooks, if not i can look into julia, that would require some time, also, do i have to create a new issue in order for you to assign me for Swift?

[2020-10-02 14:48] rahulsain3000 commented on #26
@0tist No need to create an issue if you are eagerly want to complete in your chosen language. If at any moment I think that you stop your work in the middle then I will create an issue and asking other contributors to work on it.

Do in any desired language but it must be complete. As only some people know these language so it will be difficult for other contributors to work on an unknown languag

[2020-10-02 15:02] gandalf0151 commented on #201
👍👍

On Fri, 2 Oct 2020, 7:09 pm Rahul Sain, <notifications@github.com> wrote:

[2020-10-02 15:33] 0tist commented on #26
sure 👍🏼

[2020-10-02 15:41] titinlib commented on #198
I also want to work on this, can you please assign me too?

[2020-10-02 15:41] titinlib commented on #197
Can you please assign me on this?

[2020-10-02 15:52] #117 closed

[2020-10-02 16:13] varshaig1999 commented on #26
@rahulsain3000 can I work on c++? Since I saw no comments on c++. I will really like to make my contribution to this.
@AMorr1 is there any bug I can fix and help regarding c++?

[2020-10-02 16:25] rahulsain3000 commented on #26
Sorry C++ language is complete

[2020-10-02 16:30] arnav1598 commented on #26
Hey, can I contribute with Python? I think one of the problem still requires a solution in python.

[2020-10-02 16:45] GajjarMiten commented on #198
Hey @rahulsain3000!
Can I work on it?

[2020-10-02 16:58] pkpawankushwaha commented on #26
@rahulsain3000 I started doing it in PHP and added it for 6days

[2020-10-02 17:02] dalalvarun commented on #117
Ok sure

[2020-10-02 17:03] pkpawankushwaha opened #227 "complete this series in Php"
day0 to day6 solutions are added...complete other code in Php

[2020-10-02 19:19] 7vikpeculiar commented on #26
@rahulsain3000  Can I work on doing it in Julia? I have previous experience with it ?

[2020-10-02 19:28] adrikagupta commented on #196
Hey. I am interested in doing questions 21 and 27. Can you assign it to me?

[2020-10-02 22:11] sunnysetia93 commented on #201
Raised a PR: #228
If this PR is fine, will keep raising PR for other solutions as well.

@gandalf0151 - once this PR is merged, you can refer to my solutions and contribute as well :)

[2020-10-02 22:19] gandalf0151 commented on #201
Yeah, sure thing
Will definitely look into it 😀

On Sat, 3 Oct 2020, 3:41 am Sunny Setia, <notifications@github.com> wrote:

[2020-10-03 01:56] pawan-git7979 commented on #26
Hey bro, i  am  really excited in your repo as i have myself also completed the 30 days code challange on **hackerank** 6-7 months ago. but my preference language that i code in is "**C++**" followed by "**C**".
I m seeing that all the ques of the 30 day series already have been answered on the repo in c++, so,  please u can assign me some task that in C++ language.

[2020-10-03 03:03] rahulsain3000 commented on #227
@pkpawankushwaha  Are you gonna complete it?

[2020-10-03 03:07] rahulsain3000 commented on #26
@pawan-git7979 Hey , you can modify/update the existing code and check if the code is passing all the test cases or not.
Any comment added to existing code for readability is welcome here. Looking forward to your contribution.

[2020-10-03 03:08] rahulsain3000 commented on #26
@7vikpeculiar Sure, make sure you add a column for julia in readme file.

[2020-10-03 03:09] Reetpriye commented on #196
Hi. I'm interested in contributing. I'm well familiar with JavaScript kindly assign me some task.

[2020-10-03 03:16] rahulsain3000 commented on #196
@Reetpriye Hi, you can make cleaner code for existing solution and can make code readable by adding comment.

If you want to add code for day21 and day27 please note the PR will be merged on First come first served basis.
Kindly note, also update readme file and mark a TICK across that day in JS.

[2020-10-03 03:56] GauravPoosarla commented on #196
I would like to work on day-2, as it hasn't been done yet in JavaScript, please assign it to me.

[2020-10-03 04:04] GauravPoosarla commented on #196
I have sent a PR.

[2020-10-03 04:08] GauravPoosarla commented on #198
Please assign me i want to work on it, will complete it.

[2020-10-03 04:19] raj1238 commented on #227
I have submitted the solutions to Day 6 and Day7. Please review it @rahulsain3000

[2020-10-03 04:33] rahulsain3000 commented on #227
@raj1238 Successfully merged

[2020-10-03 04:35] Reetpriye commented on #196
I've added comments to Day2 problem in C++ and made some modifications as there was unnecessary typecasting. Kindly merge my PR.

[2020-10-03 05:11] aditya9110 commented on #26
@rahulsain3000 can I contribute for python?

[2020-10-03 05:22] rahulsain3000 commented on #26
@aditya9110 Code for Python is already complete. You can enchance/update the code if it has some errors though

[2020-10-03 05:24] Nayak-cyber opened #237 "Review Increased"
My review has been increased to 6 days more.I made only one extra pull request so why does it happen

[2020-10-03 05:32] rahulsain3000 commented on #237
Please read this https://hacktoberfest.digitalocean.com/hacktoberfest-update
Note that review period is now extended to 14 days

[2020-10-03 05:32] #237 closed

[2020-10-03 05:32] raj0710 commented on #227
@rahulsain3000 Can I contribute to this issue ?

[2020-10-03 06:30] coder-023 commented on #201
Can you please suggest me tasks?
Sorry for such a lame question, I am just a beginner

[2020-10-03 06:33] rahulsain3000 commented on #201
@coder-023 Hey, we welcome beginners to our Repo, you can update  Readme.md file and add a column for PHP language and mark tick across the code that are there in the folder

[2020-10-03 07:10] #196 closed

[2020-10-03 07:17] coder-023 commented on #201
Ok,I will do it. Please assign me this task

[2020-10-03 07:18] Abhishek4uh commented on #26
@rahulsain3000 Hey Can I work on this repo? Pls assign this to me

[2020-10-03 07:19] rahulsain3000 commented on #26
@Abhishek4uh What are your suggestions that you will contribute?

[2020-10-03 07:22] Abhishek4uh commented on #198
Hey @rahulsain3000  Plz assign this to me, I'm really want to work on this.

[2020-10-03 07:23] rahulsain3000 commented on #198
@Abhishek4uh Please cooperate with @GauravPoosarla as he is already uploading code regarding this issue.
You can discuss here

[2020-10-03 07:42] amitShindeGit commented on #26
Hey rahulsain3000,can i do this in Java, if not done already.

[2020-10-03 08:00] EktaAgrawal1567 commented on #26
Hi, can I contribute in C language ?

[2020-10-03 08:08] preethamrn commented on #198
Hi Rahul, I'd like to work on this as well if possible.

[2020-10-03 08:16] rishabhsudan opened #256 "Complete this series in Scala"
I want to contribute on this, can you please assign it to me?

[2020-10-03 08:35] swaraj-gore opened #258 "Hackerrank_30daysOFcode Contribution"
Excited to contribute

[2020-10-03 08:44] Kailash108 opened #263 "C/C++ Solution Updations"
Hello,
I am planning to update some C/C++ codes.
Pls accept.
Thanks.

[2020-10-03 08:47] nikkkhil067 opened #264 "Updating the Python codes to reduce the time complexity"
Hi I am planning to update the Python and C++ Codes.
I can work on reducing the time complexity of all the 30 problems.
So, please assign this to me.

[2020-10-03 08:52] rahulsain3000 commented on #26
@amitShindeGit Java, C++,Python, C and JS are already completed

[2020-10-03 08:53] rahulsain3000 commented on #256
Please try to make less PR and make update in readme regarding the language you are using

[2020-10-03 08:54] rahulsain3000 commented on #263
Sure any contribution is valuable here.

[2020-10-03 08:55] rahulsain3000 commented on #264
Hey, @nikkkhil067 someone is already assigned for C++, but you can contribute in Python.
Looking forward for your valuable contribution.

[2020-10-03 08:56] rahulsain3000 commented on #258
Please @swaraj-gore be specific about your contribution in this repo. Any idea are most welcome here

[2020-10-03 09:19] nikkkhil067 commented on #264
Thanks I will start contributing now.

[2020-10-03 10:00] yash982000 opened #270 "Completing the left questions in Python"
I am solving all those which are left for python

[2020-10-03 10:00] yash982000 commented on #270
I have solved the Generics in Python. Let me know if I can create the pull request.

[2020-10-03 10:04] VenkatVuddagiri opened #271 "Add questions to the code"
It would be better if questions are present in the code as comments.

[2020-10-03 10:05] VenkatVuddagiri commented on #270
Which day questions are left?

[2020-10-03 10:15] rahulsain3000 commented on #270
There are so question left, they cant be implemented using Python that what the contributors told me.

[2020-10-03 10:16] yash982000 commented on #270
They can be. Generics is left.

[2020-10-03 10:16] rahulsain3000 commented on #271
There is no need because we have set up link to the question on Hackerrank Page

[2020-10-03 10:19] sunny52525 commented on #26
I can do it in Kotlin.

[2020-10-03 10:20] yash982000 commented on #270
Technically, it is not available for the hackerrank submission but those who want to think out of the box can typically try it in python and I have that part. It would be very helpful for people knowing only Python

[2020-10-03 10:21] VenkatVuddagiri commented on #271
Okay

[2020-10-03 10:21] #271 closed

[2020-10-03 10:22] VenkatVuddagiri commented on #270
I've made a pr for generics in java already. It got merged. Closes #270

[2020-10-03 10:24] yash982000 commented on #270
Yes but, I am telling for Python. There is still a cross over there.

[2020-10-03 10:25] rahulsain3000 commented on #270
@yash982000 ok waiting for your contribution.
Thanks for the clarification.

[2020-10-03 10:25] yash982000 commented on #270
@rahulsain3000 Can I open a PR for a solution in Python?
I guess to do it in all languages is our task and so it shouldn't be a problem.

[2020-10-03 10:25] yash982000 commented on #270
Ohh, okay thanks doing. @rahulsain3000

[2020-10-03 10:29] yash982000 commented on #270
Done @rahulsain3000

[2020-10-03 10:31] #270 closed

[2020-10-03 10:31] yash982000 commented on #270
Thanks, @rahulsain3000  Let me know if some other such remaining stuff is left. Also, can you label those issues with Hactoberfest?

[2020-10-03 10:34] rahulsain3000 commented on #26
Sure @sunny52525 just complete your work in no more than 4 5 PR and please update readme file also

[2020-10-03 10:54] sunny52525 commented on #26
Just saw now that there are some questions which don't have kotlin as an option, so am I supposed to leave them and move to next one, right?

[2020-10-03 11:03] dev117uday commented on #198
@rahulsain3000  i have experience working in Golang, please assign me if possible

[2020-10-03 11:12] rahulsain3000 commented on #26
Yes @sunny52525 and mark them as cross in readme file too

[2020-10-03 11:18] sunnysetia93 commented on #201
@rahulsain3000
can you add Hacktoberfest etc labels to this issue, so that people can join in and contribute?

[2020-10-03 11:30] archana-1209 opened #282 "Update day10.py"
I am planning to update solution code for question 10 in python language.
Please assign it to me!

[2020-10-03 11:32] VenkatVuddagiri opened #283 "Add tick mark in README.md file"
Please mark tick and cross to respective problem, make sure to read readme file before making a PR.
Opened this issue to help beginners in the fest.

[2020-10-03 11:49] #282 closed

[2020-10-03 11:55] rahulsain3000 commented on #270
@yash982000  if you're willing to contribute then you can make update in readme file on regular basis at mid night or so by checking recently merged files that wasn't updated by the contributors when they add/create (not update) code

[2020-10-03 11:57] rahulsain3000 commented on #283
Ok

[2020-10-03 12:30] yash982000 commented on #270
@rahulsain3000 Okay, sure, I will do that at night and accumulate all from the recent PR changes.

[2020-10-03 12:32] VenkatVuddagiri commented on #283
I would do that @rahulsain3000 . But I thought it would help others.

[2020-10-03 12:32] rahulsain3000 commented on #270
Ok @yash982000 thanks for lending a helping hand #283 please comment here so I can assign you

[2020-10-03 12:34] yash982000 commented on #283
I will do this

[2020-10-03 12:35] rahulsain3000 commented on #283
@VenkatVuddagiri I understand that you want to help beginner's contribute to this project. That's why I have edited some things.
@yash982000 welcome to the community.

[2020-10-03 12:35] VenkatVuddagiri commented on #283
@rahulsain3000  Okay

[2020-10-03 12:37] yash982000 commented on #283
@rahulsain3000 Thank you very much. I hope I can be helpful. Let us all connect:- https://www.linkedin.com/in/yash-patel-970517166/

[2020-10-03 12:43] rahulsain3000 commented on #283
Maybe we should create a mass gathering spot like discord for this community.

[2020-10-03 13:36] yash982000 commented on #283
I also strongly believe. I am a hardcore community guy and part of more than 20+ communities.

[2020-10-03 13:40] rahulsain3000 commented on #283
Great @anybody know how to create discord server here?

[2020-10-03 13:43] VenkatVuddagiri commented on #283
Yes @rahulsain3000 I know how to create a discord server and currently I'm managing one. I can help you create one.

[2020-10-03 14:16] saaranshM commented on #26
Can I contribute in python?

[2020-10-03 14:24] hnishal commented on #283
its, no big deal
lemme know if you need help

[2020-10-03 14:26] rahulsain3000 commented on #283
@VenkatVuddagiri @hnishal Can you create a server for this community.

[2020-10-03 14:32] VenkatVuddagiri commented on #283
Yes bro

[2020-10-03 14:36] rahulsain3000 commented on #283
Ok add me Rahuldchamp#3336 at discord will discuss further there.

[2020-10-03 14:39] rahulsain3000 commented on #26
@saaranshM , @karansharma007  is already working on that you can collaborate with him regarding this.

[2020-10-03 14:40] VenkatVuddagiri opened #292 "Discord server link"
https://discord.gg/HdPxjU

[2020-10-03 14:43] saaranshM commented on #26
@karansharma007 Can I work on day5 of typescript?

[2020-10-03 14:45] #292 closed

[2020-10-03 14:48] hnishal commented on #283
If you making it add me there @Nishal#9167

[2020-10-03 14:54] rahulsain3000 commented on #283
Link is https://discord.gg/XS9NvNt
Will be adding this in readme file soon

[2020-10-03 15:58] karansharma007 commented on #26
@saaranshM , sure. You can work on day6 too if you like.

[2020-10-03 15:59] SudiptaAChy commented on #26
Hi can i contribute with Dart language?

[2020-10-03 16:10] saaranshM commented on #26
@karansharma007 thanks!

[2020-10-03 16:26] megatron100 commented on #26
hey @rahulsain3000 Can i contribute in GO?

[2020-10-03 16:33] mishraaditya20142014 opened #298 "SOLVING PROBLEMS IN JAVA"
hello Sir, I am planning to solve the problems using JAVA.

[2020-10-03 16:36] mishraaditya20142014 commented on #298
Could You Please Assign Me Some Of the problems to help me create 4 or more valid PRs.

[2020-10-03 16:39] nuclearcheesecake commented on #298
I would also like working on the Java problems! :)

[2020-10-03 16:53] megatron100 commented on #298
hey @mishraaditya20142014  can you help me how to contribute in above issue and make a valid pull request to eligible for hacktoberfest2020. I am new to git so?

[2020-10-04 01:41] AhmedElsisy opened #315 "Change files' naming convention"
Change files' naming convention to make it sorted correctly for **GitHub** GUI users, as you can see in the picture below the files are not sorted by the number of the day (`day2.cpp` comes after `day19.cpp`, etc.) but lexicographically.

![image](https://user-images.githubusercontent.com/28100837/95004879-5b2f0f00-05f1-11eb-9dc9-5ce533cb5d89.png)

for many **GitHub** GUI users, it can mislead the

[2020-10-04 02:24] rahulsain3000 commented on #26
@SudiptaAChy Sure.
@megatron100 Yes please

[2020-10-04 02:32] rahulsain3000 commented on #298
The code for JAVA,C++,Python , and some more are complete however you guys could enhance/update the code which leads to better understandability of the code and it will help you in your 4 valid PR for this fest.

[2020-10-04 03:13] rahulsain3000 commented on #283
@yash982000 Why didn't you make a PR for which you were assigned to? It make a havoc between the contributors and there is conflict over the same file across different PR

[2020-10-04 03:20] rahulsain3000 opened #318 "Join our Discord Server"
https://discord.gg/XS9NvNt

[2020-10-04 03:28] rahulsain3000 commented on #298
Or you can make a solution set 2 folder like #313 did in PR, but the solution must be different with pre existing set of solutions

[2020-10-04 03:36] NayakNavin commented on #315
Hi can i work on this ?

[2020-10-04 03:37] rahulsain3000 commented on #315
@AhmedElsisy is already assigned sorry

[2020-10-04 04:18] ravish0007 commented on #26
can I do it in python ?

[2020-10-04 04:24] Harshal0506 commented on #26
hey @rahulsain3000 sorry its a offtrack question one of my friend want people to enhance his website css ,html how can he put his repositiory in hacktober fest ? Can one apply for it ?

As it will help my friend as well as the contributor trying to open source
Thanks for being there to answer as always

[2020-10-04 04:25] rahulsain3000 commented on #26
Join the discord server and ping me there @Harshal0506

[2020-10-04 04:50] yash982000 commented on #283
@rahulsain3000  I am doing right now, also merge my latest pull changes. We need to define in the repo, how to contribute to one issue at a time. We will take whomsoever has done first.

[2020-10-04 04:55] rahulsain3000 commented on #283
@yash982000 Please join discord server #318

[2020-10-04 05:03] saiharsha-22 commented on #263
@rahulsain3000 I have added day 18 solutions for c program and sent pull request #321 can you please check it once.

[2020-10-04 05:18] mishraaditya20142014 commented on #298
Okay Sir, Keeping Your Points In mind. I'll Start it today.. Hope it goes Fine... Thank you..

[2020-10-04 05:59] yash982000 commented on #318
@rahulsain3000 I have already joined discord yesterday.

[2020-10-04 07:24] rahulsain3000 commented on #315
Please change file name convention to this format -> `day01.extension` and not `day1.extension` manually

[2020-10-04 07:32] NayakNavin commented on #315
ok

[2020-10-04 07:33] rahulsain3000 commented on #315
@NayakNavin Join discord at #318 I have some work you can work on too

[2020-10-04 07:50] amishaagarwal1998 opened #334 "I want to add a resource folder for programming books"

[2020-10-04 07:51] amishaagarwal1998 commented on #334
Please assign to me if we are going ahead with this.

[2020-10-04 08:39] rahulsain3000 commented on #334
1. Is these recourses free on the internet?
2. How will these books will help on the repo?
3. You could paste those link on the discord server itself so it might not be a hinderance to this repo.
@amishaagarwal1998

[2020-10-04 08:41] GauravPoosarla opened #336 "readme not properly formatted!"

[2020-10-04 08:42] rahulsain3000 commented on #336
I am currently resolving this issue. Thanks for the info

[2020-10-04 08:42] GauravPoosarla commented on #336
Ok

[2020-10-04 09:29] #336 closed

[2020-10-04 10:27] amishaagarwal1998 commented on #334
Yes, they are mostly available on internet but as per me people are mostly unaware of **which** books to refer to. Hence we can add such quality books!

[2020-10-04 10:36] 0tist opened #341 "Create links to the files with :white_check_marks:"
I wish to propose an enhancement for the README.md file, we can have links attached to the ✅ , such that it leads to the desired solution in the preferred language
### Example: Click on the tick mark for Day 5's solution in swift [✅ ](https://github.com/rahulsain3000/Hackerrank_30daysOFcode/blob/master/30daysOFcode_Swift/Day5.swift)

[2020-10-04 10:39] rahulsain3000 commented on #341
Hey @0tist I like your idea, join discord #318 we will talk about this there

[2020-10-04 11:04] rahulsain3000 commented on #334
@amishaagarwal1998 check discord I have mentioned you

[2020-10-04 13:07] Huumewittima commented on #197
Can I also get assigned on this issue or these are for only one person?

[2020-10-04 13:57] rahulsain3000 commented on #197
@Huumewittima Yes, but the code left cant be done on C# I suppose?

[2020-10-04 14:28] rahulsain3000 opened #350 "Urgent- ASAP"
Need someone who could update contribution guidelines at CONTRIBUTING.md

[2020-10-04 14:29] amitoj-singh commented on #350
Hello, Can I do help to update guidelines?

[2020-10-04 14:30] rahulsain3000 commented on #350
head over discord #318 so we could discuss more about the issue. ping me

[2020-10-04 14:56] Amulya-coder commented on #263
@rahulsain3000 the day 20 solution doesn't seems to look correct and very efficient. Can I update it . Please assign it to me. Thanks.

[2020-10-04 14:57] rahulsain3000 commented on #263
@Amulya-coder Sure

[2020-10-04 15:28] Amulya-coder commented on #263
@rahulsain3000 Changes have been made have a look.

[2020-10-04 15:31] #263 closed

[2020-10-04 15:36] SincerelyBrittany commented on #26
May I contribute in Ruby?

[2020-10-04 15:41] rahulsain3000 commented on #26
Sure @SincerelyBrittany

[2020-10-04 17:50] hnishal commented on #334
@rahulsain3000 make sure these contents are not a subject to copyright. We can set up a different repo for this

[2020-10-04 18:20] Siddhant-sarkar opened #359 "Error showing 0!(factorial) it stucks up in a recursive loop"
In the 30Days_Of_Code_Java in day9.java contains a recursive code in which the factorial is to found out but when finding zero factorial it ends up in being in an endless loop.

[2020-10-05 02:26] rahulsain3000 commented on #334
@hnishal Right, that's why I have asked @amishaagarwal1998 to put these in discord or else a different repo would be better

[2020-10-05 02:34] rahulsain3000 commented on #359
@Siddhant-sarkar Thanks for the info, successfully merged your PR and appreciate your valuable contribution.

[2020-10-05 02:34] #359 closed

[2020-10-05 02:45] #315 closed

[2020-10-05 02:50] #283 closed

[2020-10-05 02:51] #258 closed

[2020-10-05 03:05] rahulsain3000 opened #361 "add cross to readme file"
Please add ❌ to all the problem which cant be done on that particular language at Hackerrank.

[2020-10-05 04:31] #350 closed

[2020-10-05 04:41] amitoj-singh commented on #361
Hello, Can I work on this issue?

[2020-10-05 04:43] rahulsain3000 commented on #361
Sure @amitoj-singh

[2020-10-05 04:49] #198 closed

[2020-10-05 04:49] #197 closed

[2020-10-05 04:51] rahulsain3000 commented on #264
@nikkkhil067 Are you still working on it?

[2020-10-05 04:53] rahulsain3000 commented on #227
@everyone Is someone still working on PHP? The questions that are left can't be done on PHP?

[2020-10-05 05:27] nikkkhil067 commented on #264
Yes, will be finished updating today

[2020-10-05 05:27] rahulsain3000 commented on #264
@nikkkhil067 when you're done close this issue too

[2020-10-05 05:45] nikkkhil067 commented on #264
Done Updating!

[2020-10-05 05:45] #264 closed

[2020-10-05 09:23] #361 closed

[2020-10-05 09:23] rahulsain3000 commented on #298
@mishraaditya20142014 You are still working on it right?

[2020-10-05 09:25] rahulsain3000 commented on #201
@sunnysetia93 When  you are done please close this issue

[2020-10-05 09:27] rahulsain3000 commented on #256
@rishabhsudan When you're done please close this issue.

[2020-10-05 09:46] mishraaditya20142014 commented on #298
yes, I am... Will submit rest of The programs soon...

[2020-10-05 09:46] leonyangela opened #375 "Add explanation comments on day 03 js"
Hello, I would like to add an explanation comment on the Javascript sections day03. Is it okay? Thank you
![image](https://user-images.githubusercontent.com/38250310/95064698-51f58d80-072a-11eb-8c81-8aa4c2ba1d22.png)

[2020-10-05 09:46] rahulsain3000 commented on #298
Ok @mishraaditya20142014

[2020-10-05 09:47] rahulsain3000 commented on #375
Sure @leonyangela

[2020-10-05 09:48] leonyangela commented on #375
Thank you

[2020-10-05 10:18] #375 closed

[2020-10-05 10:45] leonyangela opened #380 "Add explanation comments to day 09 on 30daysOFcode_Javascript"
Hello, I would like to add an explanation comments to day 09 on 30daysOFcode_Javascript. Thank you.
![image](https://user-images.githubusercontent.com/38250310/95070597-8e2cec00-0732-11eb-9573-b7e8e2893544.png)

[2020-10-05 10:45] leonyangela opened #381 "Add an explanation comments to day 09 on 30daysOFcode_Javascript"
Hello, I would like to add an explanation comments to day 09 on 30daysOFcode_Javascript. Thank you.
![image](https://user-images.githubusercontent.com/38250310/95070597-8e2cec00-0732-11eb-9573-b7e8e2893544.png)

[2020-10-05 10:47] leonyangela commented on #381
Duplicate of #380

[2020-10-05 10:49] #381 closed

[2020-10-05 11:20] Siddhant-sarkar opened #384 "Writing Comments and printing statements for instructing"
Writing Comments so that the user can understand the question easily
and printing statements instructing user what value to enter next thereby making the
the task of entering values for variables very much easier.

[2020-10-05 11:21] rahulsain3000 commented on #384
You making a new folder for that for each problem?

[2020-10-05 11:34] #384 closed

[2020-10-05 11:35] rahulsain3000 commented on #380
Go ahead @leonyangela

[2020-10-05 11:36] #380 closed

[2020-10-05 11:36] #318 closed

[2020-10-05 11:38] rahulsain3000 commented on #334
I am closing this issue as on 'No reply within 24 hours'

[2020-10-05 11:38] #334 closed

[2020-10-05 11:38] BRZ-OS commented on #201
Hi @rahulsain3000 I'm a beginner looking for some task to contribute (and practice PR too)
is there some task remain for the beginner yet?

[2020-10-05 11:39] rahulsain3000 commented on #201
@BRZ-OS Head over to my other hello world repo or if you know java then to java_dsa repo

[2020-10-05 12:19] sunnysetia93 commented on #201
Sure @rahulsain3000

[2020-10-05 15:24] 0tist commented on #341
a simple way to add link to the checkmark:  `[✅ ](https://github.com/rahulsain3000/Hackerrank_30daysOFcode/blob/master/30daysOFcode_Swift/day%2005.swift)`

[2020-10-05 15:29] rahulsain3000 commented on #341
Great @0tist

[2020-10-05 15:49] rahulsain3000 commented on #341
@0tist Please stop your work temporarily because I am still receiving PR that may cause conflict on readme file

[2020-10-05 15:56] #26 closed

[2020-10-05 16:00] rahulsain3000 opened #392 "Complete the codes which are left"
Complete the codes which are left blank on readme file on any **language**

[2020-10-05 17:50] Jade9ja commented on #392
I would like to work on the binary search trees (22) problem in typescript, please assign it to me. (Or should I open a new issue? )

[2020-10-05 18:56] andyalmeida opened #396 "Complete C# problems"
Hello, it's missing three C# problems. From these two can be solved. I'd like to complete them.

And a suggestion to the problems that can't be solved. Why don't use a different symbol like ✖️, ⛔ or 🚫, so we can differ the problems that are missing from the ones that can't be solved.

[2020-10-05 19:27] 0tist commented on #341
Tbh, I wasnt working on this, was expecting some response from other contributors

[2020-10-05 21:27] jordanhilado commented on #392
Hello! I am willing to work on this for Hacktoberfest. :) How many would you like me to complete for this issue to be resolved?

[2020-10-05 22:54] JayavardhaniKathika commented on #392
Hello, can I work on this issue for Hacktoberfest?

[2020-10-06 01:14] luminousbeam commented on #392
Hello, I'd like to work on the Generics problem using Javascript and also in Typescript. I don't see a folder for these problems here, where can I find them or would I need to create my own folder?

[2020-10-06 01:18] luminousbeam commented on #392
Ah, I just realized that this problem is labeled as Day 21! Let me know if I can contribute to that problem in both languages, thanks.

[2020-10-06 03:16] BRZ-OS commented on #201
Hi @rahulsain3000 just update something for your hello world repo, thanks for your task 👍

[2020-10-06 03:34] rahulsain3000 commented on #392
@luminousbeam I think day21 problem cant be done in those specified language if you could solve it some how, I would be glad. Just make sure to update readme file too

[2020-10-06 03:36] rahulsain3000 commented on #392
@jordanhilado Sure, you can check that how could you help in this repo and a new issue of it. It can be anything adding/updation of code or enhancing readme/contributing file or any new idea that would help the sole purpose of this repo

[2020-10-06 03:40] rahulsain3000 commented on #396
@andyalmeida Sure, go ahead. We are using ❌ for the problem that can't be solved but it seems that there is some error or maybe they cant be really solved on Hackerrank website

[2020-10-06 03:41] rahulsain3000 commented on #341
Ok @0tist thanks for the info.

[2020-10-06 04:09] rahulsain3000 commented on #298
@mishraaditya20142014 Close the issue when you're done

[2020-10-06 07:16] hnishal commented on #341
implementing this would be really hectic

[2020-10-06 07:32] rahulsain3000 commented on #341
Well its not necessary, I am thinking to assign this issue at last when the repo is complete

[2020-10-06 07:36] VenkatVuddagiri commented on #341
Idea is really good one
But 1 person implementing all these would be really difficult
So split the issue into different languages

[2020-10-06 09:05] rahulsain3000 commented on #341
@VenkatVuddagiri Yes, I will assign 1 person for 1 language

[2020-10-06 11:08] #396 closed

[2020-10-06 11:18] kambleaa007 commented on #392
I like to take TypeScript, assign me one

[2020-10-06 11:19] rahulsain3000 commented on #392
@kambleaa007 Make a new issue describe what will you do and I will assign you there

[2020-10-06 11:34] iamvs-2002 opened #410 "Implement the Data Structures in C"
Sir kindly assign this issue to me.

[2020-10-06 11:43] rahulsain3000 commented on #410
How's this issue is related to repo?

[2020-10-06 11:48] kambleaa007 opened #411 "Day 27: Testing for TypeScript"
In TypeScript we can unit test,
Assign me Day 27: Testing for language TypeScript and JavaScript,
They are possible

[2020-10-06 11:49] rahulsain3000 commented on #411
Ok go ahead and update readme file too

[2020-10-06 12:01] #410 closed

[2020-10-06 14:47] dvrzan opened #413 "Day 20: Sorting in Swift"
I would like to work on the "Day 20: Sorting" solution in Swift programming language.

[2020-10-06 15:26] #411 closed

[2020-10-06 15:59] #413 closed

[2020-10-07 05:04] aastha0507 commented on #227
Can I take this issue? I can write all the remaining codes in php.

[2020-10-07 05:16] rahulsain3000 commented on #227
Sure @aastha0507

[2020-10-07 05:19] kambleaa007 opened #417 "Day 21: Generics for JavaScript"
In TypeScript, we can generics for interfaces as well as classes,
Assign me Day 21: Generics for language TypeScript and JavaScript,
They are possible

[2020-10-07 05:21] rahulsain3000 commented on #417
Go ahead

[2020-10-07 05:53] kambleaa007 commented on #417
JavaScript is a dynamically typed language and it doesn't have any generics. You can write a normal function/method, it will work for all types.

Still I tried it using ES6 with class and extends keywords, i followed stackoverflow answers

[2020-10-07 05:53] rahulsain3000 commented on #417
Ok @kambleaa007 is it working?

[2020-10-07 06:05] #227 closed

[2020-10-07 06:07] #256 closed

[2020-10-07 06:09] kambleaa007 commented on #417
yepp,
I have tested for Array, String
![image](https://user-images.githubusercontent.com/19818679/95293794-c1d25800-0891-11eb-99a4-a93710c73a6b.png)

[2020-10-07 06:16] 0tist commented on #341
@rahulsain3000 you don't really have to assign anyone, I want newbie contributors to think of it as removing typos or something similar, this way they will explore the repo and will get to practice git

[2020-10-07 06:18] #417 closed

[2020-10-07 06:31] rahulsain3000 commented on #341
@0tist So, you mean that I need not to assign this to anyone, everyone can contribute to this issue.
In this way, they will open the every code of the repo and hence it will help them practicing git and github and md file too?

[2020-10-07 08:58] mishraaditya20142014 commented on #298
Sorry Sir, due to electricity shortage none of my devices were charged yesterday. That's why I was unable to follow up..

[2020-10-07 09:04] rahulsain3000 commented on #298
@mishraaditya20142014 Ok, so you're still doing this issue?

[2020-10-07 09:08] mishraaditya20142014 commented on #298
Yes Sir, I am trying a few more problems. 5-6 more problems...

[2020-10-07 09:08] rahulsain3000 commented on #298
Ok

[2020-10-07 09:08] mishraaditya20142014 commented on #298
Thank you Sir...

[2020-10-07 10:49] mishraaditya20142014 commented on #298
A problem is always showing this error... Can't automatically merge...  Thus, unable to create PR for this day26 problem...

[2020-10-07 10:50] mishraaditya20142014 commented on #298
Trying to do it, 5 commits have been done by mistake. Sorry about that, Sir.

[2020-10-07 11:13] mishraaditya20142014 commented on #298
Getting the same errors for next problem also, Sir...

[2020-10-07 11:24] #298 closed

[2020-10-07 11:26] kambleaa007 opened #432 "Day 22: Binary Search Trees in TypeScript"
Assign me Day 22: Binary Search Trees in TypeScript,
I like try Implement BST in TypeScript

[2020-10-07 11:50] rahulsain3000 commented on #298
@mishraaditya20142014 Delete the repo on your side and re-fork it from here

[2020-10-07 11:50] rahulsain3000 commented on #432
Ok

[2020-10-07 15:06] #432 closed

[2020-10-08 05:10] kambleaa007 opened #436 "Day 23: BST Level-Order Traversal in TypeScript"
I like to try implementing BST Level-Order Traversal in TypeScript language,
similar has been implemented in JavaScript

[2020-10-08 06:05] #436 closed

[2020-10-08 11:35] kambleaa007 opened #438 "Day 24: More Linked Lists Java file code is broken"
Day 24: More Linked Lists Java file code is broken,
I like to modify broken code

[2020-10-08 12:00] kambleaa007 opened #440 "Day 22: BST Java file code is broken"
Day 22: BST Java file code is broken,
I like to modify broken code
:)

[2020-10-08 12:13] kambleaa007 opened #442 "Day 17: More Exceptions java file code is broken"
Day 17: More Exceptions Java file code is broken,
I like to modify broken code
:)

[2020-10-08 14:32] #440 closed

[2020-10-08 14:32] #442 closed

[2020-10-09 12:49] rishabhsudan opened #452 "Add hacktoberfest-accepted"
@rahulsain3000  please add hackertoberfest-accepted label on my accepted PRs (#342  , #346 , #352 )

[2020-10-09 14:27] rahulsain3000 commented on #452
@rishabhsudan There is no need, your PR is still under review and not showing invalid.
This repo has hacktoberfest as a topic and these PR are merged

[2020-10-09 14:27] #452 closed

[2020-10-12 08:58] #201 closed

[2020-10-17 10:00] #392 closed

[2020-10-17 10:01] #341 closed

[2020-10-18 18:32] NafiAsib opened #470 "Day 16 | Exceptions - String to Integer | Dart"
I want to work on the Day 16 problem 'Exceptions - String to Integer' in Dart. Please assign it to me.

[2020-10-19 07:33] rahulsain3000 commented on #470
Please update readme file also

[2020-10-19 09:02] #470 closed

[2020-10-19 09:56] NafiAsib opened #473 "Day 10 | Binary Numbers | Dart"
I want to work on the Day 10 problem 'Binary Numbers' in Dart. Please assign it to me.

[2020-10-19 12:08] NafiAsib opened #475 "Day 25 | Running Time and Complexity | Dart"
I want to work on the Day 25 problem 'Running Time and Complexity' in Dart. Please assign it to me.

[2020-10-19 13:57] #473 closed

[2020-10-20 09:29] #475 closed

[2020-10-22 14:02] rahulsain opened #478 "complete the code for julia"
complete the code which don't have any ✅ or ❌  to it and also update readme file with ✅ or ❌ else PR wont be merged

[2020-10-22 14:03] rahulsain opened #479 "complete the code for rust"
complete the code which don't have any ✅ or ❌  to it and also update readme file with ✅ or ❌ else PR wont be merged

[2020-10-22 14:03] rahulsain opened #480 "complete the code for scala"
complete the code which don't have any ✅ or ❌  to it and also update readme file with ✅ or ❌ else PR wont be merged

[2020-10-22 14:04] rahulsain opened #481 "complete the code for ruby"
complete the code which don't have any ✅ or ❌  to it and also update readme file with ✅ or ❌ else PR wont be merged

[2020-10-23 14:03] parkerqueen commented on #479
I will work on Day 04 for Rust.

[2021-10-01 04:00] akshitpant commented on #481
i would like to contribute for code conversion in Ruby.

[2021-10-15 05:01] #481 closed

[2021-10-15 05:01] #480 closed